* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}

header {
    display: flex;
    min-height: 10vh;
    background: #2fcdcd;
    justify-content: space-between;
}
nav{
    gap: 3px;
}
nav a{
    background-color: aqua;
    border-radius: 10px;
}
header img {
    width: 300px;
    height: 100%;
}

main {
    width: 100%;
}

main div {
    gap: 1rem;
}

#cards2 {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.nav_1 {
    background-color: salmon;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}
.nav_1 img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    color:black;
}
h3 {
    font-size: 45px;
    font-weight: bold;
}
.category{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    border: 1px solid red;
    gap: 0.5rem;
    align-items: center;
}

footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

footer img {
    height: 30px;
}

@media (max-width:768px) {
    header {
        /* height: 25vh; */
        display: flex;
        flex-direction: column;
        background: #2fcdcd;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
    }
    main{
        height: 50vh;
    }
    .category{
        display: inline-block;
        gap: 1px;
    }
    .category #search{
        width: 150px;
    }
    main {
        height: auto;
    }
    #cards2 {
        display: flex !important;
        align-items: center;
        flex-direction: column;
    }
}

@media(max-width:560px) {
    header {
        height: 12vh;
    }
    main{
        height: auto;
    }
    nav {
        display: none !important;
    }
}