*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
    text-decoration: none !important;
}
header{
    display: flex;
    justify-content: space-between;
}
header img{
    height: 90px;
}
main{
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    background-color: lightblue;
}
nav{
    height: 30px auto;
    align-self: center;
    gap: 0.5rem;
    font-weight: bold;
}
.navbar  a{
    background-color: aliceblue;
    border-radius: 15px;
}
#header_detalles{
    min-height: 15vh;
}
#detalles{
    height: 80vh;
}
#img_detalles{
    height: 300px;
}
#footer_detalles{
    min-height: 7vh;
    justify-content: space-around;
    align-items: center;
    align-self: flex-end;
}
.nav_1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: salmon;
    height: 65px;
}
.nav_1 img{
    height: 40px;
}
#nav-botones{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#nav-botones img{
    height: 20px;
}
#cards2{
    background-color: lightblue;
    gap:0.5rem;
    height: 100%;
}
.card-img-top{
    height: 200px;
}
.card-body{
    min-height: 150px auto;
}
.card-footer{
    display: flex;
    flex-wrap: wrap;
}
.card-footer label{
    width: 100%;
    margin: 0px !important;
}
footer img{
    height: 50px;
}
footer{
    min-height: 8vh ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#contacto_{
    height: 72vh;
}

.con{
    display: flex;
    width: 100%;
   justify-content: space-evenly;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 30px;
    padding: 0.5rem 1rem 0 1rem;
    height: 80%;
    gap: 1rem;
}

#message{
    height: 100px;
    width: 100%;
}
#search{
    height: 40px;
}
@media (max-width:973px) {
    header{
       display:block;
       gap: 1rem;
    }
    #nav-res{
       justify-content: flex-center;
    }
    #search{
        height: 20px;
    }
}
@media (max-width:720px){
    .category{
        display: none;
    }
    .nav_1 img{
        height: 20px;
    }
    #search{
        height: 39px;
    }
}
@media (max-width:387px) {
    header img{
        height: 65px;
    }
}